@import url('https://fonts.googleapis.com/css2?family=Numans&display=swap');
*{margin: 0;padding: 0;}
body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(64,70,98);
  background: radial-gradient(circle, rgb(34, 37, 47) 0%, rgba(0,0,0,1) 100%);
  color:rgb(255, 255, 255);
  font-family: 'Numans', sans-serif;
  text-align: center;
}
a{
  text-decoration: none;
  color: rgb(72, 80, 103);
}
a:hover{
  opacity: 0.5;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 10px;
  padding: 30px;
  background-color: rgb(37, 37, 37);
  border-radius: 5%;

}
.form input{
  padding: 10px;
  border-radius: 0.6em;
  background-color: rgb(42, 42, 42);
}

.form input:focus {
  color: #fff;
  outline: 0;
  box-shadow: 0 0 0 3px rgb(70, 87, 145);
}



.btn {
  box-sizing: border-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border-radius: 0.6em;
  cursor: pointer;
  display: flex;
  align-self: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
  margin: 20px;
  padding: 1.2em 2.8em;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.btn:hover, .btn:focus {
  color: #fff;
  outline: 0;
}
.third {
  border-color: rgb(42, 50, 75);
  color: #fff;
  box-shadow: 0 0 40px 40px rgb(46, 53, 78) inset, 0 0 0 0 rgb(70, 87, 145);
  transition: all 150ms ease-in-out;
}
.third:hover {
  box-shadow: 0 0 10px 0 rgb(58, 67, 95) inset, 0 0 10px 4px rgb(72, 80, 103);
}


.third2 {
  border-color: rgba(40, 42, 75, 0.2);
  color: #fff;
  box-shadow: 0 0 40px 40px rgba(40, 46, 78, 0.2) inset, 0 0 0 0 rgba(106, 70, 145, 0.2);
  transition: all 150ms ease-in-out;
}
.third2:hover {
  box-shadow: 0 0 10px 0 rgba(65, 58, 95, 0.2) inset, 0 0 10px 4px rgba(74, 72, 103, 0.2);
}

.HomePage{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}

.Test{
  background-color: #e8e8e8;
  border-radius: 0.2em;
  font-size: 30px;
  width: fit-content;
  padding: 0.5em 1em;
  align-self: center;
}

.Question{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 25px;
}

.AnswerOption{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 25px;
  width: 100%;
}


.AnswerBtn{
  position: relative;
  display: inline-block;
  width: auto; height: auto;
  border: none;
  cursor: pointer;
  margin: 0px 25px 15px;
  min-width: 150px;
 
}

::before,
::after {
  position: absolute;
  content: "";
}

.AnswerBtn span {     
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0; left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s;
  box-sizing: border-box;
}

.btn1::before {
  background-color: rgb(28, 31, 30);
  transition: 0.3s ease-out;
}
.btn1 span {
  color: rgb(255,255,255);
  border: 1px solid rgb(28, 31, 30);
  transition: 0.2s 0.1s;
}
.btn1 span:hover {
  color: rgb(28, 31, 30);
  transition: 0.2s 0.1s;
}

.AnswerBtn.hover-filled-slide-right::before {
  top:0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.AnswerBtn.hover-filled-slide-right:hover::before {
  width: 0%;
}

.finish{
  display: flex;
  flex-direction: column;
  gap: 25px;
  text-align: center;
}

@media (max-width: 900px){
  .AnswerOption{
    flex-direction: column;
  }
  .AnswerBtn span:hover,
  .AnswerBtn.hover-filled-slide-right:hover::before {
    color: white;
    width: 100%;
  }

}